body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    margin: 0;
    background-image: url(./media/bg.png);
    transition: all 250ms ease-in;
}

body p {
    line-height: 5px;
}

nav a {
    display: block;
    color: inherit;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
    font-family: sans-serif;
    word-spacing: 1em;
}

li {
    color: white;
    text-align: center;
    display: inline-block;
    width: 180px;
    padding: 5px;
    border: 2px solid white;
    margin-bottom: 10px;
    word-spacing: 0;
    border-radius: 5px;
    font-weight: bolder;
    transition: all 200ms ease-in;
}

li:hover {
    background-color: white;
    color: black;
}

header a {
    text-decoration: none;
}

.exercise {
    text-align: center;
    width: 210px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.exercise a {
    background-color: gray;
    color: black;
    text-decoration: none;
    display: block;
    width: 180px;
    padding: 10px;
    border: 2px solid black;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 0;
    border-radius: 5px;
}

.exercise a.active {
    background-color: red;
    color: white;
    width: 180px;
    word-spacing: 0;
    border-radius: 5px;
    transition: all 250ms ease;
}

.exercise a.active:hover {
    cursor: pointer;
    color: white;
    border: 2px solid white;
    animation: inherit;
}

.exercise a:hover {
    cursor: default;
    animation: wobble 500ms forwards ease-in;
}

@keyframes wobble {
    0% {
        transform: translate(0, 0);
        background-color: rgb(44, 44, 44);
    }
    15% {
        transform: translate(1rem, 0);
        background-color: rgb(44, 44, 44);
    }
    35% {
        transform: translate(-1rem, 0);
        background-color: rgb(44, 44, 44);
    }
    55% {
        transform: translate(1rem, 0);
        background-color: rgb(44, 44, 44);
    }
    80% {
        transform: translate(-1rem, 0);
        background-color: rgb(44, 44, 44);
    }
    100% {
        transform: translate(0, 0);
        background-color: rgb(44, 44, 44);
    }
}

.main {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.main h1 {
    font-size: 100px;
    margin: 0;
}

.page-now {
    color: red;
    width: 180px;
    word-spacing: 0;
    border-radius: 5px;
    transition: all 200ms ease;
}

#mentioning-start {
    position: absolute;
    bottom: 0%;
    width: 100%;
    transform: translateY(-50%);
}

.mentioning a:link {
    font-weight: bolder;
    color: red;
}

.mentioning a:visited {
    color: darkred;
}

.mentioning a:hover {
    color: red;
}