body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    margin: 0;
    background-image: url(./img/bg.png);
    transition: all 250ms ease-in;
}

body p {
    line-height: 5px;
}

nav a {
    display: block;
    color: inherit;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0;
    font-family: sans-serif;
    word-spacing: 1em;
}

li {
    color: white;
    text-align: center;
    display: inline-block;
    width: 180px;
    padding: 5px;
    border: 2px solid white;
    margin-bottom: 10px;
    word-spacing: 0;
    border-radius: 5px;
    font-weight: bolder;
    transition: all 200ms ease-in;
}

li:hover {
    background-color: white;
    color: black;
}

header a {
    text-decoration: none;
}

.exercise {
    text-align: center;
    width: 210px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.exercise a {
    background-color: gray;
    color: black;
    text-decoration: none;
    display: block;
    width: 180px;
    padding: 10px;
    border: 2px solid black;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    word-spacing: 0;
    border-radius: 5px;
}

.exercise a.active {
    background-color: red;
    color: white;
    width: 180px;
    word-spacing: 0;
    border-radius: 5px;
    transition: all 250ms ease;
}

.exercise a.active:hover {
    cursor: pointer;
    color: white;
    border: 2px solid white;
    animation: inherit;
}

.exercise a:hover {
    cursor: default;
    animation: wobble 500ms forwards ease-in;
}

@keyframes wobble {
    0% {
        transform: translate(0, 0);
        background-color: rgb(44, 44, 44);
    }
    15% {
        transform: translate(1rem, 0);
        background-color: rgb(44, 44, 44);
    }
    35% {
        transform: translate(-1rem, 0);
        background-color: rgb(44, 44, 44);
    }
    55% {
        transform: translate(1rem, 0);
        background-color: rgb(44, 44, 44);
    }
    80% {
        transform: translate(-1rem, 0);
        background-color: rgb(44, 44, 44);
    }
    100% {
        transform: translate(0, 0);
        background-color: rgb(44, 44, 44);
    }
}

.main {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.main h1 {
    font-size: 100px;
    margin: 0;
}

.page-now {
    color: red;
    width: 180px;
    word-spacing: 0;
    border-radius: 5px;
    transition: all 200ms ease;
}

.box {
    margin: auto;
    width: 800px;
    padding: 20px 0 20px 0;
    background-image: radial-gradient(circle farthest-corner at 2.3% 23.2%, rgba(0, 232, 253, 1) 8.7%, rgba(7, 53, 122, 1) 74.7%);
    text-align: center;
    border-radius: 5px;
}

.box h1 {
    color: white;
    text-transform: uppercase;
}

.box input[type="text"],
.box input[type="email"] {
    font-family: sans-serif;
    color: black;
    background: white;
    display: block;
    margin: 20px auto;
    border: 2px solid grey;
    padding: 10px 10px;
    width: 300px;
    outline: none;
    transition: 250ms;
    border-radius: 5px;
}

.box input[type="text"]:focus,
.box input[type="email"]:focus {
    padding: 10px 14px;
    border: 2px solid red;
}

.box textarea {
    border-radius: 5px;
    font-family: sans-serif;
    color: black;
    background: white;
    display: block;
    margin: 20px auto;
    border: 2px solid grey;
    padding: 10px;
    outline: none;
    transition: 250ms;
    height: 200px;
    width: 600px;
    resize: none;
}

.box textarea:focus {
    border: 2px solid red;
    width: 610px;
}

.box input[type="submit"] {
    color: white;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid red;
    padding: 10px 40px;
    outline: none;
    transition: 250ms;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.box input[type="submit"]:hover {
    background-image: radial-gradient(circle farthest-corner at 2.5% 5.5%, rgba(10, 36, 99, 1) 0%, rgba(228, 60, 82, 1) 90%);
    border: 2px solid white;
    border: 2px solid white;
}

.box p {
    font-size: x-small;
}

.box a {
    text-decoration: underline;
}

.bottom-spacing-small {
    margin-bottom: 3rem;
}

#dataprotection {
    transition: all 200ms ease-in;
}

#dataprotection:link {
    color: black;
}

#dataprotection:visited {
    color: black;
}

#dataprotection:hover {
    color: yellowgreen;
}